body{
    font-family: 'Rowdies', cursive;
    font-family: 'Secular One', sans-serif;
     background: #1C1F2B;
}
#menu{
    list-style: none;
    padding: 0;
    background: #00000000;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    position: relative;
    text-align: center;

}
#menu li{
    display: inline-block;
    text-align: center;

}
#menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
#menu li a:hover{
 background: orange;

}
#logo{
    color: white;
    display: inline-block;
    position: relative;
    top: 35px;
  }
#logocom{
    top: 25px;
    left: 45px ;
    display: inline-block;
    position: relative;
}

#fotologo{
    display: inline-block;
    height: 40px;    
  
}
#username{
    color: white;
    position: relative;
    display: inline-block;
    left: 300px;
    

}
#userfoto{
    display: inline-block;
    position: relative;
    height: 70px;
    left: 250px;
    top: 25px;
    color: white;
}
#colores{
    color: white;
    top: 2px;
    right: 3px;
    display:inline-block;
    position: relative;
}
#Titulo1{
    color: white;
    text-align: center;
    height: 150px;
}
#Titulopla{
    color: white;
    position: relative;
    display: inline-block;

}