body{
    font-family: 'Rowdies', cursive;
    font-family: 'Secular One', sans-serif;
     background: #1C1F2B;
}
#menu{
    list-style: none;
    padding: 0;
    background: #00000000;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    position: relative;
    top: -65px;
    left: 15px;
}
#menu li{
    display: inline-block;
    text-align: center;

}
#menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
#menu li a:hover{
 background: orange;

}
#logo{
    color: white;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 45px ;
}
#fotologo{
    display: inline-block;
    height: 40px;
  
}
#username{
    color: white;
    position: relative;
    display: inline-block;
    left: 1285px;
    top: -150px;
}
#userfoto{
    display: inline-block;
    position: relative;
    left: 1300px;
    top: -125px;
}
